{
    "extends": "eslint:recommended",
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "jest": "readonly",
        "describe": "readonly",
        "it": "readonly",
        "expect": "readonly"
    },
}
