[alias]
    co = commit
    ch = checkout
    st = status
    ap = add -p
    di = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    zip = !sh -c 'git archive HEAD --format=zip > archive.zip'
    unstage = git reset HEAD

[core]
    editor = /usr/local/bin/vim

[user]
    name = Max Gallo
